<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TON PRISON</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>

    <div class="CigarettePack">
        <h1>Jail Street</h1>
        <img src="../static/images/cigarette_pack.png" alt="Cigarette Pack" id="cigarette-pack">
        <p id="cigarette-count">Cigarette Count: 0</p>
    </div>
    <script src="../static/scripts/get_cigarettes.js"></script>
    <script src="../static/scripts/open_cigarettes.js"></script>

</body>
</html>